@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
  
  
}
table {
	border-collapse:collapse;
	border-spacing:0
}

.rwd-table td {
  display: block;
   font-family:Arial, Helvetica, sans-serif;
  font-size:14px;

}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 7.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}




.rwd-table {
  background: #f6f3f3;
  color: #2d2c2c;
  
  overflow: hidden;
}
.rwd-table tr {
  border-color: #e0e0e0;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding:10px 15px !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #970404;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}